<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
-->
  <log4net>
    <appender name="DebugLogDailyAppender" type="log4net.Appender.RollingFileAppender">

      <!-- ファイル名は日付ごと -->
      <param name="File" value="C:\\home\\LogFiles\\fileBox_" />
      <param name="DatePattern" value='yyyyMMdd".log"' />
      <param name="RollingStyle" value="date" />
      <param name="StaticLogFileName" value="false" />

      <param name="AppendToFile" value="true" />

      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- <param name="LevelMax" value="FATAL" /> -->
        <param name="LevelMin" value="TRACE" />
      </filter>

      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="10" />

      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] [%-5level] %class %method(line %line) - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="TRACE" />
      <appender-ref ref="DebugLogDailyAppender" />
    </root>
  </log4net>
</configuration>
